/* Top level styling */
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
}

/* Header styling */

#main-header {
    background-color: transparent;
    color: #6F743C;
    padding: 1rem;
    text-align: center;
    position: relative;
    z-index: 10;
}

#main-header .container {
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1000;
    padding: 10px;
}

/* Logo */
#main-header #logo {
    font-family: 'Calligraffitti', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: #D39944;
    float: left;
}

/* Navigation menu */
nav {
    float: right;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #6F743C;
    font-size: 1.1rem;
    padding: 0.2rem 0.5rem;
}

nav ul li a:hover {
    color: #D39944;
    border-bottom: 2px solid #D39944;
}

nav ul li a:focus {
    color: #D39944;
    border-bottom: 2px solid #D39944;
}

/* Hero image styling */
#hero-image-container {
    height: 800px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center;
    background-size: cover;
    animation-name: hero-image-zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

#main-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFFFFF;
    z-index: 11;
}

.grey-box {
    background-color: rgba(68, 68, 68, 0.7);
    border-radius: 15px;
    padding: 15px;
    display: inline-block;
    max-width: 80%;
    position: relative;
    font-family: 'Calligraffitti', Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    text-shadow: #000;
}


/* Main website header */
#header {
    color: #D39944;
    text-shadow: #000;
}

/* Call to Action button */
#main-cta button {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    display: inline-block;
    background-color: transparent;
    color: #D39944;
    border: 2px solid #D39944;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    text-decoration: none;
    transition: all 0.3s;
}

#main-cta button:hover {
    background-color: #FFFFFF;
    color: #000;
}

/* Form styling */

.columns-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: flex-end;
  }
  
  .column {
    flex: 1;
    min-width: calc(50% - 1rem);
  }

#submit-recipe {
    width: 100%;
    max-width: 800px;
    margin: 2rem auto;
}

#submit-recipe h2 {
    font-family: 'Calligraffitti', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #D39944;
    text-align: center;
    padding-top: 80px;
}

#submit-recipe .anchor {
    display: block;
    position: absolute;
    bottom: -250px;
    visibility: hidden;
}

form {
    display: grid;
    gap: 1rem;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.2rem;
    color: #6F743C;
}

.input{
    width: 96%;
    padding: 0.5rem;
    border: 1px solid #6F743C;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

form button[type="submit"] {
    font-family: 'Calligraffitti';
    display: inline-block;
    background-color: transparent;
    color: #D39944;
    border: 2px solid #D39944;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    text-decoration: none;
    margin-top: 1rem;
}

form button[type="submit"]:hover {
    background-color: #FFFFFF;
    color: #000;
}

form fieldset {
    border: 2px solid #D39944;
    border-radius: 10px;
    padding: 1rem;
}

form legend {
    color: #D39944;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* Recipe of the day styling */ 

#recipe-of-the-day {
    padding: 3rem 2rem;
    background-color: #ffffff;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  #recipe-of-the-day h2 {
    width: 100%;
    max-width: 500px;
    margin: 1rem 0;
  }

  #recipe-of-the-day h3 {
    width: 100%;
    max-width: 500px;
    margin: 1rem 0;
  }

  #recipe-of-the-day h4 {
    width: 100%;
    max-width: 500px;
    margin: 1rem 0;
  }
  
  #recipe-of-the-day p {
    width: 100%;
    max-width: 500px;
    margin: 1rem 0;
  }

  #recipe-of-the-day ul{
    width: 100%;
    max-width: 500px;
    margin: 1rem 0;
  }

  #recipe-of-the-day ol {
    width: 100%;
    max-width: 500px;
    margin: 1rem 0;
  }
  
  #recipe-of-the-day ul {
    width: 100%;
    max-width: 500px;
    margin: 1rem 0;
  }
  
  #recipe-of-the-day ol {
    margin-left: 2rem;
  }
  
  #recipe-video {
    width: 60%;
    max-width: 600px;
    height: 0;
    padding-bottom: 56.25%;
    margin: 1rem 0;
  }
  
  #recipe-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  #recipe-photo {
    width: 30%;
    max-width: 400px;
    margin: 1rem 0;
    display: block;
    text-align: center;
  }  

  #recipe-of-the-day .container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;;
}
  

/* Hero image animation */

@keyframes hero-image-zoom {
    from {
        transform: scale(1.8);
    }
    to{
        transform: scale(2.1);
    }
}
