/* Top level styling */
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header styling */
#main-header {
    background-color: transparent;
    color: #6F743C;
    padding: 1rem;
    text-align: center;
    position: relative;
}

#main-header .container {
    margin-bottom: 10px;
}

/* Logo */
#main-header #logo {
    font-family: 'Calligraffitti', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: #D39944;
    float: left;
}

/* Navigation menu */
nav {
    float: right;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #6F743C;
    font-size: 1.1rem;
    padding: 0.2rem 0.5rem;
}

nav ul li a:hover {
    color: #D39944;
    border-bottom: 2px solid #D39944;
}

nav ul li a:focus {
    color: #D39944;
    border-bottom: 2px solid #D39944;
}

/* Hero image styling */
#hero-image-container {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center;
    background-size: cover;
    animation-name: hero-image-zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

#main-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFFFFF;
}

/* Main website header */
#main-header {
    color: #D39944;
}

/* Call to Action button */
#main-cta button {
    font-family: 'Calligraffitti';
    display: inline-block;
    background-color: transparent;
    color: #D39944;
    border: 2px solid #D39944;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    text-decoration: none;
    transition: all 0.3s;
}

#main-cta:hover {
    background-color: #FFFFFF;
    color: #000;
}

/* Form styling */

#submit-recipe {
    width: 100%;
    max-width: 800px;
    margin: 2rem auto;
}

#submit-recipe h2 {
    font-family: 'Calligraffitti', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #D39944;
    text-align: center;
    font-weight: 10%;
}

form {
    display: grid;
    gap: 1rem;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.2rem;
    color: #6F743C;
}

form input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #6F743C;
    border-radius: 5px;
    font-size: 1rem;
}

form input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #6F743C;
    border-radius: 5px;
    font-size: 1rem;
}

form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #6F743C;
    border-radius: 5px;
    font-size: 1rem;
}

form button[type="submit"] {
    font-family: 'Calligraffitti';
    display: inline-block;
    background-color: transparent;
    color: #D39944;
    border: 2px solid #D39944;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    text-decoration: none;
    margin-top: 1rem;
}

form button[type="submit"]:hover {
    background-color: #FFFFFF;
    color: #000;
}

form fieldset {
    border: 2px solid #D39944;
    border-radius: 10px;
    padding: 1rem;
}

form legend {
    color: #D39944;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* Recipe of the day styling */ 



/* Hero image animation */

@keyframes hero-image-zoom {
    from {
        transform: scale(1.8);
    }
    to{
        transform: scale(2);
    }
}
