/* Top level styling */
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff;
    font-size: calc(1rem + 0.5vw);
    /* responsive font size for different screens */
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
}

.button {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    display: inline-block;
    background-color: #fff;
    color: #D39944;
    border: 2px solid #D39944;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    text-decoration: none;
    transition: all 0.3s;
    margin-left: 1rem;
    margin-bottom: 8rem;
}

.hidden {
    display: none;
}

.button:hover {
    background-color: #D39944;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

form > * {
    flex: 1;
}

/* Header styling */

#main-header {
    background-color: transparent;
    color: #6F743C;
    padding: 1rem;
    text-align: center;
    position: relative;
    z-index: 10;
}

#main-header .container {
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1000;
    padding: 10px;
}

/* Logo */
#main-header #logo {
    font-family: 'Calligraffitti', sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: none;
    color: #D39944;
    float: left;
    position: relative;
    left: 0.5rem;
}

/* Navigation menu */
nav {
    float: right;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #6F743C;
    font-weight: bolder;
    font-size: 1.1rem;
    padding: 0.2rem 0.5rem;
}

nav ul li a:hover {
    color: #D39944;
    border-bottom: 2px solid #D39944;
}

nav ul li a:focus {
    color: #D39944;
    border-bottom: 2px solid #D39944;
}

/* Hero image styling */
#hero-image-container {
    height: 800px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center;
    background-size: cover;
    animation-name: hero-image-zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

#main-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFFFFF;
    z-index: 11;
}

.grey-box {
    background-color: rgba(68, 68, 68, 0.7);
    border-radius: 15px;
    padding: 15px;
    display: inline-block;
    max-width: 80%;
    position: relative;
    font-family: 'Calligraffitti', Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
}


/* Main website header */
#header {
    color: #D39944;
}

/* Call to Action button */
#main-cta {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    display: inline-block;
    background-color: transparent;
    color: #D39944;
    border: 2px solid #D39944;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    text-decoration: none;
    transition: all 0.3s;
    letter-spacing: 0.1rem;
}

#main-cta:hover {
    background-color: #D39944;
    color: #fff;
}

/* Form styling */

.columns-container {
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: flex-end;
}

.column {
    flex: 1;
    min-width: calc(50% - 1rem);
    display: inline-block;
}

#submit-recipe {
    width: 100%;
    margin: 2rem auto;
}

.background-photo {
    background: url('../images/submit-recipe-background.png') no-repeat center;
    background-size: initial;
    position: relative;
    width: 100%;
}

.background-photo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.776);
    z-index: 1;
}

.background-photo * {
    position: relative;
    z-index: 3;
}

#submit-recipe h2 {
    font-family: 'Calligraffitti', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #D39944;
    text-align: center;
    padding-top: 80px;
}

form {
    gap: 1rem;
    padding: 3rem 0;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.2rem;
    color: #6F743C;
}

.input {
    width: 96%;
    padding: 0.5rem;
    border: 1px solid #6F743C;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.input:hover {
    border: 1px solid #D39944;
}

form button[type="submit"] {
    font-family: 'Calligraffitti', Arial, Helvetica, sans-serif;
    display: inline-block;
    background-color: transparent;
    color: #D39944;
    border: 2px solid #D39944;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    text-decoration: none;
    margin-top: 1rem;
}

form button[type="submit"]:hover {
    background-color: #D39944;
    color: #fff;
}

form fieldset {
    border: 2px solid #D39944;
    border-radius: 10px;
    padding: 1rem;
    margin-left: 2rem;
    margin-right: 2rem
}

form legend {
    color: #D39944;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* Thank you message styling */

#thank-you-message h2 {
    text-align: center;
    padding: 1rem;
    margin-top: 10%;
    font-family: inherit;
    color: #D39944;
}

#thank-you-message p {
    text-align: center;
    padding: 1rem;
    margin-top: 10%;
    font-family: inherit;
    color: #6F743C;
}

/* Recipe of the day styling */


#recipe-of-the-day {
    padding: 2rem 1rem;
    background-color: #ffffff;
    max-width: 100%;
    margin: 0 1rem;
}

#method-container {
    width: 40%;
    display: inline-block;
}

#method-container h4 {
    padding-left: 1rem
}

#recipe-of-the-day h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #D39944;
    font-family: 'Calligraffitti', Arial, Helvetica, sans-serif;
    margin-top: 4rem;
    padding-top: 1rem;
}

#recipe-of-the-day .recipe-sub-title{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #D39944;
}

#recipe-of-the-day #recipe-author {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #6F743C;
}

#recipe-of-the-day .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
}

#recipe-of-the-day .recipe-header {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#recipe-of-the-day .recipe-text {
    grid-column: 1 / 7;
    text-align: left;
    width: 33%;
}

#recipe-of-the-day .prep-time {
    grid-column: 7 / 10;
    margin-top: -0.5rem;
}

#recipe-of-the-day #recipe-photo {
    grid-column: 8 / -1;
    text-align: right;
    width: 66%;
}

#recipe-of-the-day #recipe-photo img {
    max-width: 90%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#recipe-of-the-day .recipe-info {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: flex-start;
    margin-top: 5rem;
    margin-left: 1rem;
}

.ingredients-container {
    display: inline-block;
    width: 32%;
    text-align: left;
    vertical-align: top;
}

#recipe-of-the-day .recipe-info>div {
    grid-column: span 4;
    margin: 5rem 0;
}

#recipe-of-the-day p,
#recipe-of-the-day ul,
#recipe-of-the-day ol {
    margin: 0.5rem 0;
    text-align: left;
    font-size: 1rem;
}

#recipe-of-the-day ol {
    margin-left: 1rem;
}

#recipe-of-the-day li {
    margin-bottom: 1rem
}

/* Recipe video */

#recipe-video {
    padding: 2rem 1rem;
    text-align: center;
}

#recipe-video h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #D39944;
    font-family: 'Calligraffitti', Arial, Helvetica, sans-serif;
}

.video-container {
    float: right;
    position: relative;
    overflow: hidden;
    width: 50%;
    padding-top: 56.25%;
    display: inline-block;
    margin-left: 4rem;
    top: 0rem;
    border: 0px;
}

.video-container video {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 60%;
}

.video-container video[controls] {
    border: none;
    outline: none;
}

.video-container video::-webkit-media-controls-panel,
.video-container video::-webkit-media-controls {
    -webkit-appearance: none;
}

.video-container video::-webkit-media-controls-play-button,
.video-container video::-webkit-media-controls-timeline,
.video-container video::-webkit-media-controls-current-time-display,
.video-container video::-webkit-media-controls-time-remaining-display,
.video-container video::-webkit-media-controls-mute-button,
.video-container video::-webkit-media-controls-volume-slider,
.video-container video::-webkit-media-controls-fullscreen-button {
    -webkit-appearance: none;
}

#top-button {

    margin-top: 4rem;
    width: 2rem;
    text-align: center;
}

/* Foodie education styling */

/* Baking tutorial section */
.baking-tutorial {
    padding: 2rem;
  }
  
  /* Introduction section */
  .introduction {
    text-align: center;
  }
  
  .introduction h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #D39944;
    font-family: 'Calligraffitti', Arial, Helvetica, sans-serif;
    margin-top: 4rem;
    padding-top: 1rem;
  }
  
  .introduction p {
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.6;
  }
  
  /* Cuisines section */
  .cuisines {
    margin-top: 2rem;
  }
  
  .cuisines h2 {
    font-size: 1.5rem;
    color: #6F743C;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .cuisines article {
    background-color: #f4f4f4;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
  }
  
  .cuisines article h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #6F743C;
    margin-bottom: 0.5rem;
  }
  
  .cuisines article p {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
    line-height: 1.6;
  }
  
  /* Cooking Techniques section */
  .cooking-techniques {
    margin-top: 2rem;
  }
  
  .cooking-techniques h2 {
    font-size: 1.5rem;
    color: #6F743C;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .cooking-techniques article {
    background-color: #f4f4f4;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
  }
  
  .cooking-techniques article h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #6F743C;
    margin-bottom: 0.5rem;
  }
  
  .cooking-techniques article p {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
    line-height: 1.6;
  }
  
  /* Additional Cooking Techniques */
  .more-cooking-techniques {
    display: flex;
    margin: 2rem 0;
    flex-direction: row;
  }
  
  .more-cooking-techniques h2 {
    font-size: 2rem;
    font-family: 'Calligraffitti', Arial, Helvetica, sans-serif;
    color: #D39944;
    margin-bottom: 1.5rem;
    width: 12rem;
  }
  
  .more-cooking-techniques article {
    width: 45%;
    margin-bottom: 2rem;
  }
  
  .more-cooking-techniques h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #6F743C;
    margin-bottom: 1rem;
  }
  
  .more-cooking-techniques p {
    font-size: 1rem;
    color: #6F743C;
    line-height: 1.6;
    margin-bottom: 1rem;
  }
  
  /* Culinary Terms */
.culinary-terms {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
}

.culinary-terms h2 {
    font-size: 2rem;
    font-family: 'Calligraffitti', Arial, Helvetica, sans-serif;
    color: #D39944;
    margin-bottom: 1.5rem;
}

.culinary-terms article {
    width: 45%;
    margin-bottom: 2rem;
}

.culinary-terms h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #6F743C;
    margin-bottom: 1rem;
}

.culinary-terms p {
    font-size: 1rem;
    color: #6F743C;
    line-height: 1.6;
    margin-bottom: 1rem;
}

/* Foodie Q&A styling */

/* Question and answer section */
.q-and-a {
    margin-top: 2rem;
    background-color: #f4f4f4;
    padding: 2rem;
    border-radius: 8px;
}

.q-and-a h2 {
    font-size: 2rem;
    font-family: 'Calligraffitti', Arial, Helvetica, sans-serif;
    color: #D39944;
    margin-bottom: 1.5rem;
}

.q-and-a h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #6F743C;
    margin-bottom: 1rem;
}

.q-and-a p {
    font-size: 1rem;
    color: #6F743C;
    line-height: 1.6;
    margin-bottom: 1rem;
}

/* Footer styling */

footer {
    background-color: #D39944;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 2rem;
    z-index: 1000;
  }
  
  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  footer .follow-us {
    display: block;
    font-family: 'Calligraffitti', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    padding-top: 0.5rem;
    text-align: center;
    margin: 0;
  }

  .social-media-icons {
    text-align: center;
  }
  
  .social-media-icons a {
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    text-align: center;
    padding-top: 0;
  }

  .social-media-icons a:hover i {
    color: gold;
    transform: scale(1.2);
    transition: all 0.3s ease;
  }
  
  .social-media-icons i {
    color: #6F743C;
    font-size: 1.5rem;
  }


/* Hero image animation */

@keyframes hero-image-zoom {
    from {
        transform: scale(1.8);
    }

    to {
        transform: scale(2.1);
    }
}

/* Responsive measures */ 

@media (min-width: 1000px) {
    form {
        flex-direction: row;
    }
}

/* Responsive navigation */
@media screen and (max-width: 768px) {
    nav ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }
  }
  
  @media screen and (min-width: 769px) {
    nav ul {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }
  

  /* Extra small devices */
@media (max-width: 575.98px) {
  
    #recipe-photo img {
      width: 100%;
      height: auto;
    }

    .button {
        font-size: 0.7rem;
    }
  
    #recipe-video iframe {
      width: 100%;
      height: auto;
    }
  
    .ingredients-container {
      margin-bottom: 20px;
    }
  }
  
  /* Small devices */
  @media (min-width: 576px) and (max-width: 767.98px) {
  
    #main-header .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    nav ul {
      flex-direction: column;
    }

    .button {
        font-size: 0.7rem;
    }

    .video-container {
        float: left;
        margin-left: 2rem;
        display: block;
    }
  
    #recipe-photo img {
      width: 100%;
      height: auto;
    }
  
    #recipe-video iframe {
      width: 100%;
      height: auto;
    }
  
    .ingredients-container {
      margin-bottom: 20px;
    }

    .recipe-header {
        flex-direction: column;
      }
    
      #recipe-photo img {
        width: 100%;
        height: auto;
      }
    
      #recipe-video iframe {
        width: 100%;
        height: auto;
      }
    
      .ingredients {
        flex-direction: column;
      }
    
      .ingredients-container {
        margin-bottom: 20px;
      }
  }
  
  /* Medium devices */
  @media (min-width: 768px) and (max-width: 991.98px) {
  
    #recipe-photo img {
      width: 100%;
      height: auto;
    }
  
    #recipe-video iframe {
      width: 100%;
      height: auto;
    }
  
    .ingredients-container {
      margin-bottom: 20px;
    }

    .video-container {
        margin-left: 2rem;
        display: block;
    }
  }

  /* Large devices */ 
  @media (min-width: 992px) {
    #main-header {
        margin-bottom: 0;
        padding-bottom: 0;
    }

  }
  
  